services:
  spark-master:
    build:
      context: .  # Where Dockerfile lives
      dockerfile: Dockerfile
    container_name: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    ports:
      - "8080:8080"  # Spark Web UI
      - "7077:7077"  # Spark Master Port
    environment:
      - SPARK_MODE=master
    networks:
      - etl_network1

  spark-worker-1:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spark-worker-1
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    ports:
      - "8083:8081"  # Spark Worker Web UI (worker default is 8081)
    environment:
      - SPARK_MODE=worker
    depends_on:
      - spark-master
    networks:
      - etl_network1

  pyspark-executor-container:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: python-container
    working_dir: /opt/spark/work-dir
    command: tail -f /dev/null  # Keeps the container running for debugging/execution
    volumes:
      - ./spark-scripts:/opt/spark/work-dir:rw  # Mount the local directory to the container
      - ./data/input:/data/input
    depends_on:
      - spark-master
    networks:
      - etl_network1

  nifi-service:
    image: apache/nifi:1.23.2
    container_name: nifi-service
    ports:
      - "8443:8080"
    environment:
      NIFI_WEB_HTTP_PORT: 8080
      NIFI_JVM_HEAP_INIT: 2g
      NIFI_JVM_HEAP_MAX: 3g
    volumes:
      - nifi_data:/opt/nifi/nifi-current/logs
      - ./data/input:/data/input
    networks:
      - etl_network1

  minio-service:
    image: minio/minio:RELEASE.2023-05-27T05-56-19Z
    container_name: minio-service
    ports:
      - "9010:9010"
      - "9011:9011"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9010"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9010/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    volumes:
      - minio_data:/data
    networks:
      - etl_network1

networks:
  etl_network1:
    driver: bridge

volumes:
  nifi_data:
  minio_data: